@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Logo
	3.3 Main Nav
	3.4 Menu
4. Home
	4.1 Home Slider
	4.2 Home Slider Nav
	4.3 Home Slider Dots
5. Search
6. Section Title
7. Rating
8. Stats
9. Add
10. Milestones
11. Footer
	11.1 Footer - About
	11.2 Footer - Blog
	11.3 Footer - Tags
	11.4 Footer - Contact Info
12. Copyright


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face
{
	font-family: 'Beyond';
	src: url('../fonts/beyond_the_mountains.otf')  format('truetype'),
		 url('../fonts/beyond_the_mountains.ttf')  format('opentype');
}

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #929191;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	display: inline-block;
	height: 53px;
	border-radius: 27px;
	overflow: hidden;
	z-index: 1;
}
.button_bcg
{
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 100%;
	background: white;
	z-index: -1;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.button:hover .button_bcg
{
	left: -100%;
}
.button a
{
	display: block;
	font-size: 13px;
	font-weight: 700;
	color: #c30000;
	text-transform: uppercase;
	line-height: 53px;
	padding-left: 46px;
	padding-right: 46px;
	white-space: nowrap;
	z-index: 2;
}
.button span
{
	display: inline-block;
	vertical-align: middle;
	width: 5.75px;
	height: 5.63px;
	background: #c30000;
	border-radius: 50%;
	margin-right: 2px;
}
.button span:first-child
{
	margin-left: 10px;
}
.button span:nth-child(2)
{
	opacity: 0.6;
}
.button span:last-child
{
	opacity: 0.4;
	margin-right: 0px;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.add-padding
{
	padding-top: 70px;
	padding-bottom: 50px;
}
.img_style a img
{
	width: 50%;
	margin-left: 100px;
	border-radius: 30px;
}
.bg-grey
{
	background-color: lightgrey;
}
/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	width: 100%;
	z-index: 12;
}

/*********************************
3.1 Top Bar
*********************************/

.top_bar
{
	width: 100%;
	height: 60px;
	background: #292929;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.user_box_link
{
	display: inline-block;
}
.user_box_link a
{
	display: block;
	font-size: 10px;
	line-height: 36px;
	font-weight: 600;
	padding-top: 10px;
	color: #FFFFFF;
	text-transform: uppercase;
}
.user_box_link a:hover
{
	color: #fa9e1c;
}
.user_box_login
{
	margin-right: 15px;
}

/*********************************
3.2 Logo
*********************************/

.logo_container
{
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	-o-transform: translateY(-6px);
	transform: translateY(-6px);
}
.header.scrolled .logo_container
{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.logo a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #f4f4f8;
	font-weight: 800;
	text-transform: uppercase;
}
.logo a img
{
	width: 90px;
	padding-top: 14px;
	display: inline-block;
	vertical-align: baseline;
	margin-right: 9px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}
.footer-width a img
{
	width: 150px;
}

/*********************************
4. Home
*********************************/

.home
{
	width: 100%;
	height: 400px;
	background: transparent;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-image: url(/images/about_background.jpg);
	z-index: 1;
}
.home_content
{
	position: absolute;
	bottom: 106px;
	left: 300px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 3;
}
.home_title
{
	font-size: 50px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-bottom: 20px;
}
.overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: rgba(0, 0, 0, 0.45);
}

/*********************************
5. Intro
*********************************/

.intro
{
	width: 100%;
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: #f9f9f9;
}
.intro_image
{
    right: 0;
    top: 13px;
}
.intro_image img
{
	width: 400px;
	/* padding-left: 200px; */
}
.padding-left
{
	padding-left: 150px;
}
.intro_title
{
	font-size: 30px;
	font-weight: 700;
	color: #c30000;
	text-transform: uppercase;
}
.intro_text
{
	margin-bottom: 0px;
	font-weight: 400;
	color: #000000;
	margin-top: 40px;
}
.intro_button
{
	margin-top: 50px;
	z-index: 1;
}

/*********************************
6. Section Title
*********************************/

.section_title
{
	font-size: 30px;
	font-weight: 700;
	color: #2d2c2c;
	margin-top: -8px;
	text-transform: uppercase;
}

/*********************************
7. Rating
*********************************/

.rating
{
	margin-top: 10px;
}
.rating i
{
	font-size: 19px;
	margin-right: 4px;
}
.rating i:last-child
{
	margin-right: 0px;
}
.rating_1 i:first-child{color: #ffeb8d;}
.rating_2 i:first-child{color: #ffeb8d;}
.rating_2 i:nth-child(2){color: #fed46b;}
.rating_3 i:first-child{color: #ffeb8d;}
.rating_3 i:nth-child(2){color: #fed46b;}
.rating_3 i:nth-child(3){color: #fbb53d;}
.rating_4 i:first-child{color: #ffeb8d;}
.rating_4 i:nth-child(2){color: #fed46b;}
.rating_4 i:nth-child(3){color: #fbb53d;}
.rating_4 i:nth-child(4){color: #fa9e1b;}
.rating_5 i:first-child{color: #ffeb8d;}
.rating_5 i:nth-child(2){color: #fed46b;}
.rating_5 i:nth-child(3){color: #fbb53d;}
.rating_5 i:nth-child(4){color: #fa9e1b;}
.rating_r i::before
{
	font-family: 'FontAwesome';
	content: "\f006";
	font-style: normal;
	font-size: 19px;
	margin-right: 4px;
}
.rating_r_1 i:first-child::before{color: #ffeb8d; content: "\f005";}
.rating_r_2 i:first-child::before{color: #ffeb8d; content: "\f005";}
.rating_r_2 i:nth-child(2)::before{color: #fed46b; content: "\f005";}
.rating_r_3 i:first-child::before{color: #ffeb8d; content: "\f005";}
.rating_r_3 i:nth-child(2)::before{color: #fed46b; content: "\f005";}
.rating_r_3 i:nth-child(3)::before{color: #fbb53d; content: "\f005";}
.rating_r_4 i:first-child::before{color: #ffeb8d; content: "\f005";}
.rating_r_4 i:nth-child(2)::before{color: #fed46b; content: "\f005";}
.rating_r_4 i:nth-child(3)::before{color: #fbb53d; content: "\f005";}
.rating_r_4 i:nth-child(4)::before{color: #fa9e1b; content: "\f005";}
.rating_r_5 i:first-child::before{color: #ffeb8d; content: "\f005";}
.rating_r_5 i:nth-child(2)::before{color: #fed46b; content: "\f005";}
.rating_r_5 i:nth-child(3)::before{color: #fbb53d; content: "\f005";}
.rating_r_5 i:nth-child(4)::before{color: #fa9e1b; content: "\f005";}
.rating_r_5 i:nth-child(5)::before{color: #ef910a; content: "\f005";}

/*********************************
8. Stats
*********************************/

.stats
{
	padding-top: 100px;
	padding-bottom: 105px;
}
.stats_text
{
	margin-top: 21px;
	padding-left: 30px;
	padding-right: 30px;
}
.stats_years
{
	padding-left: 116px;
	padding-right: 116px;
	margin-top: 39px;
}
.stats_contents
{
	margin-top: 23px;
	padding-left: 55px;
	padding-right: 55px;
}
.stats_years div
{
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	color: #fa9e1b;
}
.stats_item
{
	margin-bottom: 24px;
}
.stats_item:last-child
{
	margin-bottom: 0px;
}
.stats_last
{
	width: 25%;
	float: left;
	padding-left: 60px;
}
.stats_new
{
	width: 25%;
	float: left;
	padding-right: 60px;
}
.stats_last_icon
{
	position: absolute;
	bottom:0;
	left:0;
	width: 60px;
	height: 100%;
	padding-bottom: 5px;
}
.stats_new_icon
{
	position: absolute;
	bottom:0;
	right:0;
	width: 60px;
	height: 100%;
	padding-bottom: 5px;
}
.stats_last_content
{

}
.stats_number
{
	font-size: 24px;
	font-weight: 600;
	color: #2d2c2c;
}
.stats_type
{
	font-size: 14px;
	font-weight: 600;
	color: #929191;
}
.stats_bar
{
	width: 50%;
	height: 2px;
	background: #e1e1e1;
	float: left;
	margin-top: 33px;
}
.stats_bar_perc
{
	position: absolute;
	top: 0;
	height: 2px;
	background: #31124b;
	max-width: 100% !important;
}
.stats_bar_perc div
{
	width: 100%;
}
.stats_bar_value
{
	position: absolute;
	top: -39px;
}

/*********************************
9. Add
*********************************/

.add
{
	width: 100%;
}
.add_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.add_container
{
	padding-top: 52px;
	padding-bottom: 64px;
}
.add_content
{
	padding-left: 151px;
}
.add_title
{
	font-weight: 600;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-left: 2px;
}
.add_subtitle
{
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
	padding-left: 7px;
}
.add_subtitle span
{
	font-size: 18px;
	font-weight: 700;
}
.add_button
{
	margin-top: 30px;
}

/*********************************
10. Milestones
*********************************/

.milestones
{
	padding-top: 105px;
	padding-bottom: 100px;
}
.milestone
{
	width: 100%;
}
.milestone_icon
{
	display: inline-block;
	height: 58px;
}
.milestone_icon img
{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.milestone_counter
{
	font-size: 48px;
	font-weight: 600;
	color: #2d2c2c;
	line-height: 1;
	margin-top: 25px;
}
.milestone_text
{
	font-size: 14px;
	font-weight: 600;
	color: #9a9999;
	margin-top: 22px;
	text-transform: uppercase;
}

/*********************************
11. Footer
*********************************/

.footer
{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 20px;
	background: #330000;
}
.footer_title
{
	font-size: 15px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}

/*********************************
11.1 Footer - About
*********************************/
.footer_about
{
	padding-top: 67px;
}
.footer_logo
{
	left: 0;
	top: -24px;
	padding-top: 40px;
}
.footer_about_text
{
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
}
.footer-list
{
	font-size: 14px;
	color: #FFFFFF;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 600;
}
.footer-list a
{
	display: block;
	color: #FFFFFF;
}
.footer-list a:hover
{
	color: #fa9e1c;
}

/*********************************
11.4 Footer - Contact Info
*********************************/

.contact_info_list
{
	margin-top: 40px;
}
.contact_info_item
{
	margin-bottom: 22px;
}
.contact_info_icon
{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.contact_info_icon img
{
	display: block;
	width: 100%;
}
.contact_info_text,
.contact_info_text a
{
	color: #FFFFFF;
	line-height: 2.14;
	margin-top: -4px;
}
.contact_info_item:hover .contact_info_text,
.contact_info_item:hover .contact_info_text a
{
	color: #fa9e1b;
}

/*********************************
12. Copyright
*********************************/

.copyright
{
	background: #05000a;
}
.copyright_content
{
	padding-top: 16px;
	text-align: center;
	height: 52px;
}
.copyright_content div
{
	font-size: 12px;
	font-weight: 600;
	color: #6f4444;
}